*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    width: 10%;
}

.container-fluid{
    background-color: rgb(235, 200, 217);
}

.costbody{
     background-color: rgb(12, 1, 7);
}
.contentpart{
       background-color: rgb(12, 1, 7);   
}
.container{
     background-color: black
     
}
